

  @import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;1,600&family=Cinzel:wght@400;500;600;700&family=Handlee&family=Poppins:wght@200;300;400;500;600&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel';
  
}
body{
   
    background-image: linear-gradient(45deg,#E6E6E6, #d7d7d7); 
   
  
  
}

.hero{
    width: 100%;
    min-height: 100vh;
    
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;

}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 240px;
    mix-blend-mode: darken;

}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
   
}
nav ul li a{
    font-size: 12px;
    text-decoration: none;
    color: #181d4b;
    font-weight: 400;
    mix-blend-mode: darken;
   
}
.login-btn{
    font-size: 12px;
    text-decoration: none;
    color: #181d4b;
    margin-right: 15px;
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
 background-image: linear-gradient(45deg, #181d4b, #3c4595);
 font-size: 12px;
 border-radius: 30px;
 border-top-right-radius: 0;
 transition: 0.5s;
 
    
}
.content{
    margin-top: 10%;
    max-width: 600px;
    mix-blend-mode: darken;
}
.content h1{
    font-size: 70px;
    color: #181d4b; 

   
}
.content p{
    margin: 10px 0 30px;
    color: #181d4b;
    animation-delay: 0.5s;
}
.content .btn{
    padding: 15px 80px;
    font-size: 15px;
    animation-delay: 1s;
    font-size: 12px;

}
.btn:hover{
border-top-right-radius: 30px;

}
.feature-img{
    width: 777px;
    position: absolute;
    bottom: 0;
    right: 10%;
    mix-blend-mode: darken;
    animation-delay: 5s;
    

}
.feature-img.anim{
    animation-delay: 2s;
    
}
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
